{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "forOf": true,
    "jsx": true,
    "es6": true
  },
  "plugins": [
    "react", "import"
  ],
  // Map from global var to bool specifying if it can be redefined
  "globals": {
    "__DEV__": true,
    "__dirname": false,
    "__fbBatchedBridgeConfig": false,
    "alert": true,
    "cancelAnimationFrame": false,
    "clearImmediate": true,
    "clearInterval": true,
    "clearTimeout": true,
    "console": true,
    "document": false,
    "escape": false,
    "Event": false,
    "EventTarget": false,
    "exports": false,
    "fetch": true,
    "FormData": false,
    "global": false,
    "jest": false,
    "Map": true,
    "module": false,
    "navigator": false,
    "process": false,
    "Promise": true,
    "requestAnimationFrame": true,
    "require": true,
    "Set": true,
    "setImmediate": true,
    "setInterval": false,
    "setTimeout": false,
    "window": false,
    "XMLHttpRequest": false,
    "pit": false,

    // Flow global types.
    "ReactComponent": false,
    "ReactClass": false,
    "ReactElement": false,
    "ReactPropsCheckType": false,
    "ReactPropsChainableTypeChecker": false,
    "ReactPropTypes": false,
    "SyntheticEvent": false,
    "$Either": false,
    "$All": false,
    "$Tuple": false,
    "$Supertype": false,
    "$Subtype": false,
    "$Shape": false,
    "$Diff": false,
    "$Keys": false,
    "$Enum": false,
    "$Exports": false,
    "$FlowIssue": false,
    "$FlowFixMe": false,
    "$FixMe": false,
    "Action": true,
    "State": true,
    "Generator": true
  },
  "rules": {
    "global-require": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "no-use-before-define": 0,
    "radix": 0,
    "no-param-reassign": 0,
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "class-methods-use-this": 0,
    "react/jsx-no-bind": 0,
    "no-underscore-dangle": 0,
    "eqeqeq": 0,
    "indent": [2, 2, {"SwitchCase": 0}],
    "max-len": ["error", 200],
    "no-restricted-syntax": ["off", "ForOfStatement"],
    "prefer-rest-params": 0,
    "func-names": "off",
    "no-shadow": "off",
    "arrow-body-style": ["off", "always"],
    "object-shorthand": "off",
    "no-continue": "off",

    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 1,
    "import/no-named-as-default-member": 1,

    "react/no-string-refs": 0,
    "react/prefer-es6-class": 1,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0
  }
}
